*.classpath

node_modules/
venv/
env/

.env
*.env
*.env.*
.envrc
secrets.*
credentials.*
*.secret
*.bak
*.old

__pycache__/
*.py[cod]
*.log
*.tmp
*.sqlite
*.sqlite3
*.sql
*.dump

.vscode/
.idea/

build/
dist/

*.pem
*.key
*.crt
*.cer
*.pfx
id_rsa*
id_dsa*
*.pub
*.jks
*.p12
